# Copiar a .env y completar con los valores del terraform output
VITE_API_URL=https://xbdvwkho8d.execute-api.us-east-1.amazonaws.com/certificacion
VITE_COGNITO_REGION=us-east-1
VITE_COGNITO_USER_POOL_ID=us-east-1_RmtetGi5c
VITE_COGNITO_CLIENT_ID=1m0kpv9af0agi1uq9rtde84f9i
